body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

span.reverse {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #000;
    background-color: #FFF;
}

.navbar-inverse .navbar-brand {
    color: #000000;
}

.navbar-inverse .navbar-nav>li>a {
    color: #000;
}

.navbar {
  background-color: #E4E4E4;
  border-color: #000;
}
.navbar-inverse {
  background-color: #FFF;
  border-color: #FFF;
}